@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

@font-face {
    font-family: 'WorkSans';
    src: url('/assets/fonts/Work_Sans/static/WorkSans-Medium.ttf');
}

@font-face {
    font-family: 'WorkSans-reg';
    src: url('/assets/fonts/Work_Sans/static/WorkSans-Regular.ttf');
}

@font-face {
    font-family: 'WorkSans-ligth';
    src: url('/assets/fonts/Work_Sans/static/WorkSans-Light.ttf');
}

@font-face {
    font-family: 'PT Sans';
    src: url('/assets/fonts/PT_Sans/PTSans-Regular.ttf');
}

body {
    margin: 0 auto;  
    max-width: 100vw;
    max-height: 100vh;
}

.wrapper {
    background-color: #F4F5FC;
    width: 100vw;
    height: 100vh;
}

.data-user-section {
    max-width: 92.5%;
    margin: 0 auto;
    transition: ease-in-out 6s;
    animation-name: showcard;
    animation-duration: 3s;
    overflow: hidden;
}

@keyframes showcard {
    0% {
        margin-top: toRem(200);
    }
    100% {
        margin-top: 0;
    }
}

.registr-card {
    max-width: toRem(665);
    height: toRem(481);
    margin: auto;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: ease-in-out 1s;
    animation-name: show;
    animation-duration: 2s;
    overflow: hidden;
}

@keyframes show{
    0% {
        height: 0;
        filter: blur(toRem(3));
    }

    50%{
        filter: blur(toRem(1));
    }
    75%{
        filter: blur(toRem(0.3));
    }

    100% {
        height: toRem(481);
    }
}

.signup-section {
    width: 20.7%;
    background-color: #5A61ED;
    display: flex;
    align-items: end;
}

.signup-text {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: toRem(49);
    line-height: toRem(63);
    letter-spacing: toRem(.5);
    padding-top: toRem(22);
    padding-right: toRem(18);
    color: #FFFFFF;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.data-user {
    background-image: url(/assets/SVG/userback.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: #FFFFFF;
    width: toRem(528);
}
//                  HEADER CARD

.header-user {
    height: 10%;
    width: 100%;
}

.header-title{
    font-family: 'WorkSans';
    font-size: toRem(22);
    line-height: toRem(26);
    letter-spacing: toRem(-0.5);
    padding-top: toRem(39);
    margin: 0;
    transition: ease-in-out 1s;
}

.header-subtitle {
    color: #111111;
    font-family: 'WorkSans-ligth';
    font-size: toRem(14);
    line-height: toRem(16);
    margin: 0;
    width: 100%;
}

//                    USER SECTION

.day-bth {
    cursor: pointer;
    width: toRem(56);
    border: none;
    border-bottom: toRem(1)solid #f2f2f2;
    position: static;
}

.month-bth{
    cursor: pointer;
    width: toRem(91);
    border: none;
    border-bottom: toRem(1)solid #F2F2F2;  
}

.year-bth{
    cursor: pointer;
    width: toRem(68);
    border: none;
    border-bottom: toRem(1)solid #F2F2F2;
}

.user-info-section {
    width: toRem(485);
    display: grid;
    grid-template-columns: repeat(2, toRem(237));
    justify-content: space-between;
    padding-top: toRem(20);
}

.user-name-first, .user-name-second{
    color: #7C7C7C;
    font-family: 'WorkSans';
    font-size: toRem(12);
    line-height: toRem(14);
    margin: 0;
}

.data-user-firstline{
    padding: 0;
    height: toRem(42);
}
.user-data-name {
    height: toRem(42);
    padding-top: toRem(16);
    padding-right: toRem(13);
}

.user-name-title {
    color: #7C7C7C;
    font-family: 'WorkSans';
    font-size: toRem(12);
    line-height: toRem(14);
    padding-bottom: toRem(3.4);
    margin: 0;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

.user-gender-title {
    cursor: pointer;
    color: #111111;
    font-family: 'WorkSans-reg';
    font-size: toRem(14);
    line-height: toRem(18);
    text-align: center;
    padding-right: toRem(16);
}

.gender-title {
    padding-bottom: toRem(5);
}

.user-gender{
    cursor: pointer;
    margin: 0;
}

.user-email {
    cursor: pointer;
    border: none;
    border-bottom: toRem(1)solid #F2F2F2;
    width: toRem(234);
    background: url(/assets/SVG/Shape.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}

.user-name, .user-last-name, 
.user-nation,
.user-password, .user-confirm-password  {
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: toRem(1)solid #F2F2F2;
    width: toRem(234);
}

//                      FOOTER-CARD

.account-login {
    color: #000000;
    font-family: 'WorkSans-ligth';
    font-weight: 200;
    font-size: toRem(13);
    line-height: toRem(15);
    margin: 0;
}

.login-link{
    font-family: 'WorkSans-ligth';
    font-size: toRem(13);
    line-height: toRem(15);
}

.footer-card {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: toRem(98);
}

.footer-btn{
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: toRem(14);
    line-height: toRem(18);
    border: none;
    background-color: #5A61ED;
    width: toRem(154);
    height: toRem(32);
}

.footer-btn:hover {
    background-color: #4e56ee;
}

.footer-btn:active {
    animation: shake 0.2s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    background-color: #141ee1;
    
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }